# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# For cmake
build/
bin/
timeCompare/

# For R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds

# For other data
*.tar
*.gz
*.csv
*.tgz
*.zip
*.txt
!CMakeLists.txt
*.xlsx
*.fna
*.fasta
*.gff
*.faa
*.tsv
*.xml
*.binary
*.raw
*.ms2
*.DS_Store
SiprosDoc/
*.log
learnSipros/SIP/
*.sip
*.FT2
*.cfg
*.tab

